:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    font-weight: 500;
    color: #000;
    text-decoration: inherit;
    cursor: pointer;
}
a:hover {
    color: #00CDCD;
}

body {
    margin: 0;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    outline: none;
    &:focus {
        outline: none;
    }
}
/*button:hover {*/
/*    border-color: #00CDCD;*/
/*}*/
/*button:focus,*/
/*button:focus-visible {*/
/*    outline: 4px auto -webkit-focus-ring-color;*/
/*}*/

@media (prefers-color-scheme: light) {

    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #00CDCD;
    }
    button {
        background-color: #f9f9f9;
    }
}

#root section,
.App-header .inner {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;    
}
.App-header .logo {
    width: 125px;
    height: 40px;
    display: block;
}
.App-header .nav {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 40px;
}
.App-header .nav li a {
    font-weight: 700;
    font-size: 18px;
}

footer {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    background-color: #222;
    padding: 40px 0;
    margin-top: 140px;
}
footer .copy {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 49px;
}
footer .copy a {
    display: inline-block;
    color: #fff;
    font-weight: 700;
    border-bottom: 2px solid #fff;
}

